<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact us</title>
</head>
<body>
    <h1>Contact us</h1>
    {% if error %}
        <ul>
            {% for error in errors %}
            <li style="color: red">{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form action="contact" method="post">
        <p>subject: <input type="text" name="subject"></p>
        <p>your email: <input type="text" name="email"></p>
        <p>message: <textarea name="message" rows="10" cols="50"></textarea></p>
        <input type="submit" name="submit">
    </form>

</body>
</html>